/* -------------------------
 * Dependencies
 * ------------------------- */
@import "timing";
@import "variables";
@import "bootstrap";

/* -------------------------------
 * Variables
 * ------------------------------- */

$containerMaxWidth: 1200px;

$colorMain: #14a5ed;
$colorGray: #333;
$colorTextGray: #c0c0c0;
$colorRed: #dc0000;

$colorLink: $colorMain;

$font: Helvetica, sans-serif;
b, strong { font-weight: 700; }

/* -------------------------
 * Top-level classes
 * ------------------------- */

html, body {
  font-family: $font;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  letter-spacing: 0.05em;
  text-rendering: geometricPrecision;
}

.container-fluid { max-width: $containerMaxWidth; }

/* -------------------------
 * Resetting global page elements
 * ------------------------- */

a,
a:hover,
a:active,
a:visited {
  color: $colorLink;
  text-decoration: none !important;
  border-bottom: none;
  outline: none !important;
  transition: color 250ms ease-in-out;
}
a:hover { color: lighten($colorLink, 10); }

input:focus,
textarea:focus { outline: 0; }

.btn:active,
.btn:active:focus,
button:active,
button:active:focus {
  box-shadow: none;
  outline: 0;
}

ul { 
  padding: 0;
  margin: 0;
}

b, strong { font-family: $font; }

/* --------------------
 * Global page elemnts
 * -------------------- */

body > main {
  h1 {
    
  }
  p {
    
  }

}

@media(max-width: $screen-xs-max) {
  body > main {
    h1 { 

    }
  }
}

/* -------------------------
 * Form elements styling
 * ------------------------- */

body > main {
  input[type=text],
  input[type=number],
  input[type=zip],
  input[type=email],
  input[type=phone],
  select,
  button {
    &:focus { outline: 0; }
    $colorPlaceholder:  #333;
    &::-webkit-input-placeholder { /* WebKit browsers */
      color: $colorPlaceholder;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: $colorPlaceholder;
     opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $colorPlaceholder;
     opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: $colorPlaceholder;
    }
    background: none;
    border-radius: 0;
  }

  input[type=text],
  input[type=zip],
  input[type=email],
  input[type=phone],
  textarea,
  select {
    width: 100%;
    height: 36px;
    padding-left: 10px;

    color: black;
    border-radius: 0;
    border: none;
    background-color: white;

    &.has-error { border: 2px solid red; }
    &.gray { color: #a19f9f; }
  }

  select {
    -webkit-appearance: none;
  }
  textarea {
    height: initial;
  }

  label.checkbox {
    position: relative;
    margin-right: 10px;
    padding-top: 4px;
    padding-left: 40px;

    @media(max-width: $screen-xs-max) {
      margin-top: 30px;
    }

    &:last-child { margin-right: 0; }
    span { line-height: 1; }
  }
  // input[type=radio],
  input[type=checkbox] {
    display: none;

    &:checked + i:after {
      content: "X";
      position: absolute;
      top: 4px;
      left: 0;
      width: 28px;
      height: 20px;
      z-index: 2;
      color: black;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 18px;
    }

    & + i {
      margin-right: 0;
    }
    & + i:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 28px;
      opacity: 1;
      z-index: 1;

      background: white;
      border-radius: 0;
    }
  }
}

/* -------------------------
 * Helpers
 * ------------------------- */

.error,
.color-red { color: $colorRed; }
a.color-red {
  &, &:active, &:visited { color: $colorRed; }
}
a.color-red:hover { color: darken($colorRed, 15%); }

a.underline { border-bottom: 1px solid $colorLink !important; }

.img-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.clickable { cursor: pointer; }

.modal-dialog {
  width: 90%;
}


/* -------------------------
 * Mixins
 * ------------------------- */

/* -------------------------
 * Sections
 * ------------------------- */

@import "header";
@import "footer";
@import "content";
@import "404";

/* -------------------------------
 * Media Query detection for JS
 * ------------------------------- */
#media-query-detection {
  display: none;
  width: 0px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { #media-query-detection { width: 768px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { #media-query-detection { width: 992px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { #media-query-detection { width: 1200px; } }