<section class="terms-page container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>WEBSITE TERMS & CONDITIONS OF USE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur exercitationem architecto modi repellendus tempore libero nulla distinctio enim a sunt molestias velit necessitatibus voluptatibus doloribus id blanditiis odio error, aperiam.</p>  
      </div>
      <div class="col-sm-1"></div>
  </div>
</section>